@{ Layout = "~/Shared/_Layout.cshtml"; }
@{ ViewBag.Title = "Home"; }

<body ng-app="homeApp">
    <p>Home App Html</p>
    <div ng-controller="animeHomeCtrl as ctrl">
        <div class="header-display-scroller">
            <!-- this can probably be a directive -->
            <div ng-repeat="item in ctrl.pagedAnimeHeader">
                <img ng-src="{{item.image_url}}" />
                <p>{{item.title}}</p>
                <p>{{item.score}}</p>
            </div>
            <div ng-repeat="item in ctrl.pagedMangaHeader">
                <img ng-src="{{item.image_url}}" />
                <p>{{item.title}}</p>
                <p>{{item.score}}</p>
            </div>
        </div>
        <p>Display text: {{ctrl.displayText}}</p>
        <input ng-model="ctrl.searchText" />

        <button ng-click="ctrl.searchAllMediaByName()">search all media by name</button>
        <button ng-click="ctrl.getCurrentSeasonAnime()">get current season </button>
        <button ng-click="ctrl.getSeasonalAnime(2010, 'winter')">get seasonal, 2010 winter</button>
        <button ng-click="ctrl.getScrapedMangaImageUrls()">Get scraped manga</button>
        <button ng-click="ctrl.testDb()">test db</button>
    </div>
</body>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/Home/HomeBundle.js"></script>
