@{ Layout = "~/Shared/_Layout.cshtml"; }
@{ ViewBag.Title = "Home"; }

<body ng-app="homeApp">
    <div ng-controller="animeHomeCtrl as ctrl">
        <div class="text-center">
            <input type="text" ng-model="ctrl.mangaUrl" placeholder="Enter URL" />
            <button ng-click="ctrl.getMangaPage()">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </div>
        <div class="col-xs-12" ng-show="ctrl.mangaPage !== undefined">
            <div class="col-xs-0 col-sm-3"></div>
            <div class="col-xs-12 col-sm-6 text-center">
                <img ng-src="{{ctrl.mangaPage.ImageUrl}}" />
                <h4>{{ctrl.mangaPage.Title}}</h4>
                <button ng-click="ctrl.saveMangaPage()" ng-show="ctrl.mangaPage !== undefined">Save</button>
                <div ng-repeat="c in ctrl.mangaPage.MangaChapters">
                    <a ng-href="{{c.ChapterUrl}}">{{c.ChapterName}}</a>
                </div>
            </div>
            <div class="col-xs-0 col-sm-3"></div>
        </div>

        <!-- discovery side
        <div ng-show="false">
            <label>Search:</label>
            <div class="header-display-scroller">
                <jd-row value="ctrl.pagedAnimeHeader"></jd-row>
                <jd-row value="ctrl.pagedMangaHeader"></jd-row>
            </div>
        </div>
        -->
    </div>
</body>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/Home/HomeBundle.js"></script>
<script src="~/Scripts/Directives/JdRow/jdRowBundle.js"></script>
