@{ Layout = "~/Shared/_Layout.cshtml"; }
@{ ViewBag.Title = "Home"; }

<body ng-app="homeApp">
    <div class="images-scroller">

    </div>
    <p>Home App Html?</p>
    <div ng-controller="seasonalAnimeCtrl as ctrl">
        <p>{{ctrl}}</p>
        <p>{{ctrl.displayText}}</p>
        <p>{{testCtrlScope}}</p>
        <button ng-click="ctrl.getAnimeStats()">getanimestats</button>
        <button ng-click="ctrl.getCurrentSeasonAnime()">getSeasonalAnime</button>
    </div>
</body>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/Home/HomeBundle.js"></script>
