@{
    ViewBag.Title = "Home Page";
}

<body ng-app="homeApp">
    <p>Home App Html?</p>
    <div ng-controller="homeCtrl as ctrl">
        <p>{{ctrl}}</p>
        <p>{{ctrl.testCtrl}}</p>
        <p>{{testCtrlScope}}</p>
        <p>{{ctrl.getInt()}}</p>
        @*<button ng-click=""></button>*@
    </div>
</body>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/Home/HomeBundle.js"></script>
