@{
    ViewBag.Title = "Home Page";
}

<body ng-app="homeApp">
    <p>Home App Html</p>
    <div ng-controller="homeCtrl as ctrl">
        <p>{{test}}</p>
        <p>{{ctrl.test}}</p>
    </div>
</body>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/Home/homeApp.js"></script>