@{ Layout = "~/Shared/_Layout.cshtml"; }
@{ ViewBag.Title = "Manga"; }

<body ng-app="userMangaApp">
    <div ng-controller="userMangaCtrl as ctrl">
        <div class="col-xs-12">
            <div class="col-xs-0 col-sm-1"></div>
            <div class="col-xs-12 col-sm-10">
                <div ng-repeat="p in ctrl.mangaPages" class="col-xs-2 text-center">
                    <p>{{p.Title}}</p>
                    <img ng-src="{{p.ImageUrl}}" style="max-width: 100%" />
                    <div ng-repeat="c in p.MangaChapters | limitTo: 1">
                        <p>Last updated:</p>
                        <p>{{c.ChapterUploadDateString}}</p>
                    </div>
                </div>
                @*<img ng-src="{{ctrl.mangaPage.ImageUrl}}" />
                    <h4>{{ctrl.mangaPage.Title}}</h4>
                    <button ng-show="ctrl.mangaPage !== undefined"
                            ng-click="ctrl.saveMangaPage()"
                            class="btn btn-success">
                        Save
                    </button>
                    <table class="text-left">
                        <tr>
                            <th>Chapters</th>
                            <th>Views</th>
                            <th>Uploaded</th>
                        </tr>
                        <tr ng-repeat="c in ctrl.mangaPage.MangaChapters">
                            <td>
                                <a ng-href="{{c.ChapterUrl}}">{{c.ChapterName}}</a>
                            </td>
                            <td class="text-right">
                                {{c.ChapterViews}}
                            </td>
                            <td>
                                {{c.ChapterUploadDateString}}
                            </td>
                        </tr>
                    </table>*@
            </div>
        </div>
    </div>
</body>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/Manga/UserManga/userMangaBundle.js"></script>
